html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* -- Baseline Elements --*/
body{
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  line-height: 1.5;
}
h1{
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
p{
  font-family: georgia;
  line-height: 1.75;
}


.wrapper{
/* If the screensize is larger than 1024px the layout should stay 1024px wide and stay centered.*/
  max-width: 1024px;
  margin: 0 auto;
}




/* -- Header -- */

.banner{
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/5847/viewport-selection-opt.jpg) no-repeat 50% 50%;
  text-transform: uppercase;
  text-align:center;
  color: #fff;
  font-size: 2rem;
  padding: 10rem 0;
}



/* ----------- Grid --------- */
/* -------------------------- */
.col-container{
  margin: 3rem 0;
}

.col-pic{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* two columns layout*/
@media screen and (min-width: 600px){
/* At 600px wide the layout should rearrange into two columns.*/
/* Adding 4% margin left for both columns, thus remaing width is 100%-12%=98% for both columns.
   Thus width of one column is 98/2 = 44% */
    .col-pic{
        float: left;
        width: 44%;
        margin-left: 4%;
    }
}

/* three columns layout*/
@media screen and (min-width: 1024px){
/* At 1024px wide the layout should rearrange into it's final layout of three columns.*/
    .col-pic{
        float: left;
        width: 33.33%;
    }
}

/* -- Footer -- */
.footer{
  background: #111;
  text-align: center;
  color: #fff;
}


